/* primitives */
:root {
  --font-size-100: 8px;
  --font-size-200: 12px;
  --font-size-300: 14px;
  --font-size-400: 16px;
  --font-size-500: 18px;
  --font-size-600: 20px;
  --font-size-700: 24px;
  --font-size-800: 28px;
  --font-size-900: 32px;
  --font-size-1000: 36px;
  --font-size-1100: 40px;
  --font-size-1200: 48px;
  --font-size-1300: 56px;
  --font-size-1400: 64px;
  --font-size-1500: 72px;
  --font-size-1600: 80px;
  --font-size-1700: 90px;
  --letter-spacing-100: -1px;
  --letter-spacing-200: -0.75px;
  --letter-spacing-300: -0.5px;
  --letter-spacing-400: -0.25px;
  --letter-spacing-500: 0px;
  --letter-spacing-600: 0.25px;
  --letter-spacing-700: 0.5px;
  --letter-spacing-800: 0.75px;
  --letter-spacing-900: 1px;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  --family-primary: Bebas Neue;
  --family-secondary: Inter;
  --line-height-100: 16px;
  --gap-100: 4px;
  --line-height-200: 20px;
  --line-height-300: 24px;
  --line-height-400: 28px;
  --line-height-500: 30px;
  --line-height-600: 32px;
  --line-height-700: 36px;
  --line-height-800: 40px;
  --line-height-900: 44px;
  --line-height-1000: 48px;
  --line-height-1100: 56px;
  --line-height-1200: 64px;
  --line-height-1300: 72px;
  --line-height-1400: 80px;
  --line-height-1500: 88px;
  --line-height-1600: 96px;
  --gap-200: 8px;
  --gap-300: 12px;
  --gap-400: 16px;
  --radius-scale-0: 0px;
  --gap-500: 20px;
  --gap-600: 24px;
  --gap-700: 32px;
  --gap-800: 40px;
  --gap-900: 48px;
  --gap-1000: 64px;
  --radius-scale-100: 2px;
  --radius-scale-200: 4px;
  --radius-scale-300: 8px;
  --radius-scale-400: 12px;
  --radius-scale-500: 16px;
  --radius-scale-600: 20px;
  --radius-scale-700: 24px;
  --radius-scale-800: 32px;
  --radius-scale-900: 40px;
  --radius-scale-1000: 48px;
  --radius-scale-round: 9999px;
  --space-100: 4px;
  --space-200: 8px;
  --space-300: 12px;
  --space-400: 16px;
  --space-500: 20px;
  --space-600: 24px;
  --space-700: 32px;
  --space-800: 40px;
  --space-900: 48px;
  --space-1000: 64px;
  --colors-red-100: #ffe9eb;
  --colors-crimson-100: #fde8ee;
  --colors-neutral-100: #f5f7fa;
  --colors-purple-100: #f3e8fd;
  --colors-blue-100: #e3f5fd;
  --colors-yellow-100: #fff8e0;
  --colors-yellow-200: #fff0bd;
  --colors-yellow-300: #ffe58f;
  --colors-yellow-400: #ffdb66;
  --colors-yellow-500: #ffd447;
  --colors-yellow-600: #ffcc33;
  --colors-yellow-700: #d9ad2b;
  --colors-yellow-800: #b38f24;
  --colors-yellow-900: #8c701c;
  --colors-yellow-1000: #665214;
  --colors-green-100: #e4faee;
  --colors-green-200: #bef2d4;
  --colors-green-300: #91e8b5;
  --colors-green-400: #5bdb91;
  --colors-green-500: #34d276;
  --colors-green-600: #1ecd6c;
  --colors-green-700: #19ab5a;
  --colors-green-800: #148948;
  --colors-green-900: #0f6736;
  --colors-green-1000: #0a4624;
  --colors-neutral-200: #dde2e8;
  --colors-neutral-300: #c2cad4;
  --colors-neutral-400: #99a3b2;
  --colors-neutral-500: #6f7885;
  --colors-neutral-600: #4d5561;
  --colors-neutral-700: #2f353e;
  --colors-neutral-800: #1c2027;
  --colors-neutral-900: #101318;
  --colors-neutral-1000: #000000;
  --colors-crimson-200: #fbd0dc;
  --colors-crimson-300: #f8abc1;
  --colors-crimson-400: #f37c9e;
  --colors-crimson-500: #ee4475;
  --colors-crimson-600: #e2144f;
  --colors-crimson-700: #bb1142;
  --colors-crimson-800: #960d34;
  --colors-crimson-900: #700a27;
  --colors-crimson-1000: #4b071a;
  --colors-purple-200: #e8d0fb;
  --colors-purple-300: #d7abf8;
  --colors-purple-400: #bf7cf3;
  --colors-purple-500: #a744ee;
  --colors-purple-600: #8d14e2;
  --colors-purple-700: #7511bb;
  --colors-purple-800: #5d0d96;
  --colors-purple-900: #460a70;
  --colors-purple-1000: #2e074b;
  --colors-blue-200: #c2e9fa;
  --colors-blue-300: #98daf6;
  --colors-blue-400: #64c8f1;
  --colors-blue-500: #36b7ed;
  --colors-blue-600: #14a5e2;
  --colors-blue-700: #1189bb;
  --colors-blue-800: #0d6d96;
  --colors-blue-900: #0a5270;
  --colors-blue-1000: #073a50;
  --colors-red-200: #ffd2d6;
  --colors-red-300: #ffb2b9;
  --colors-red-400: #ff8a94;
  --colors-red-500: #ff6a76;
  --colors-red-600: #ff5a65;
  --colors-red-700: #e64652;
  --colors-red-800: #c7343f;
  --colors-red-900: #9b232d;
  --colors-red-1000: #70161f;
  --colors-neutral-0: #ffffff;
  --colors-neutral-50: #fafbfc;
  --font-size-1800: 150px;
  --line-height-1700: 100px;
  --line-height-1800: 160px;
  --space-1100: 10rem;
}

/* semantic */
@theme {
  --color-surface-canvas: var(--colors-neutral-1000);
  --color-surface-base: var(--colors-neutral-900);
  --color-surface-raised: var(--colors-neutral-800);
  --color-surface-overlay: var(--colors-neutral-700);
  --color-surface-sunken: var(--colors-neutral-1000);
  --color-surface-base-hover: var(--colors-neutral-800);
  --color-surface-base-pressed: var(--colors-neutral-700);
  --color-surface-raised-hover: var(--colors-neutral-700);
  --color-surface-raised-pressed: var(--colors-neutral-600);
  --color-text-primary: var(--colors-neutral-0);
  --color-text-secondary: var(--colors-neutral-300);
  --color-text-tertiary: var(--colors-neutral-500);
  --color-text-disabled: var(--colors-neutral-600);
  --color-text-inverse: var(--colors-neutral-1000);
  --color-icon-primary: var(--colors-neutral-0);
  --color-icon-secondary: var(--colors-neutral-400);
  --color-icon-tertiary: var(--colors-neutral-500);
  --color-icon-disabled: var(--colors-neutral-600);
  --color-icon-inverse: var(--colors-neutral-1000);
  --color-border-subtle: var(--colors-neutral-700);
  --color-border-default: var(--colors-neutral-600);
  --color-border-strong: var(--colors-neutral-400);
  --color-border-inverse: var(--colors-neutral-0);
  --color-brand-background-subtle: var(--colors-crimson-900);
  --color-brand-background-subtle-hover: var(--colors-crimson-800);
  --color-brand-background-subtle-pressed: var(--colors-crimson-700);
  --color-brand-background-default: var(--colors-crimson-600);
  --color-brand-background-default-hover: var(--colors-crimson-500);
  --color-brand-background-default-pressed: var(--colors-crimson-700);
  --color-brand-background-strong: var(--colors-crimson-500);
  --color-brand-background-strong-hover: var(--colors-crimson-400);
  --color-brand-border-subtle: var(--colors-crimson-800);
  --color-brand-border-default: var(--colors-crimson-600);
  --color-brand-border-strong: var(--colors-crimson-400);
  --color-brand-text-default: var(--colors-crimson-400);
  --color-brand-text-strong: var(--colors-crimson-300);
  --color-brand-icon-default: var(--colors-crimson-500);
  --color-brand-icon-strong: var(--colors-crimson-300);
  --color-brand-text-on-default: var(--colors-neutral-0);
  --color-brand-text-on-subtle: var(--colors-crimson-300);
  --color-brand-icon-on-default: var(--colors-neutral-0);
  --color-brand-icon-on-subtle: var(--colors-crimson-300);
  --color-brand-ring-default: var(--colors-crimson-500);
  --color-success-background-subtle: var(--colors-green-900);
  --color-success-background-subtle-hover: var(--colors-green-800);
  --color-success-background-subtle-pressed: var(--colors-green-700);
  --color-success-background-default: var(--colors-green-600);
  --color-success-background-default-hover: var(--colors-green-500);
  --color-success-background-default-pressed: var(--colors-green-700);
  --color-success-background-strong: var(--colors-green-500);
  --color-success-background-strong-hover: var(--colors-green-400);
  --color-success-border-subtle: var(--colors-green-800);
  --color-success-border-default: var(--colors-green-600);
  --color-success-border-strong: var(--colors-green-400);
  --color-success-text-default: var(--colors-green-400);
  --color-success-text-strong: var(--colors-green-300);
  --color-success-icon-default: var(--colors-green-500);
  --color-success-icon-strong: var(--colors-green-300);
  --color-success-text-on-default: var(--colors-neutral-0);
  --color-success-text-on-subtle: var(--colors-green-300);
  --color-success-icon-on-default: var(--colors-neutral-0);
  --color-success-icon-on-subtle: var(--colors-green-300);
  --color-success-ring-default: var(--colors-green-500);
  --color-error-background-subtle: var(--colors-red-900);
  --color-error-background-subtle-hover: var(--colors-red-800);
  --color-error-background-subtle-pressed: var(--colors-red-700);
  --color-error-background-default: var(--colors-red-600);
  --color-error-background-default-hover: var(--colors-red-500);
  --color-error-background-default-pressed: var(--colors-red-700);
  --color-error-background-strong: var(--colors-red-500);
  --color-error-background-strong-hover: var(--colors-red-400);
  --color-error-border-subtle: var(--colors-red-800);
  --color-error-border-default: var(--colors-red-600);
  --color-error-border-strong: var(--colors-red-400);
  --color-error-text-default: var(--colors-red-400);
  --color-error-text-strong: var(--colors-red-300);
  --color-error-icon-default: var(--colors-red-500);
  --color-error-icon-strong: var(--colors-red-300);
  --color-error-text-on-default: var(--colors-neutral-0);
  --color-error-text-on-subtle: var(--colors-red-300);
  --color-error-icon-on-default: var(--colors-neutral-0);
  --color-error-icon-on-subtle: var(--colors-red-300);
  --color-error-ring-default: var(--colors-red-500);
  --color-info-background-subtle: var(--colors-blue-900);
  --color-info-background-subtle-hover: var(--colors-blue-800);
  --color-info-background-subtle-pressed: var(--colors-blue-700);
  --color-info-background-default: var(--colors-blue-600);
  --color-info-background-default-hover: var(--colors-blue-500);
  --color-info-background-default-pressed: var(--colors-blue-700);
  --color-info-background-strong: var(--colors-blue-500);
  --color-info-background-strong-hover: var(--colors-blue-400);
  --color-info-border-subtle: var(--colors-blue-800);
  --color-info-border-default: var(--colors-blue-600);
  --color-info-border-strong: var(--colors-blue-400);
  --color-info-text-default: var(--colors-blue-400);
  --color-info-text-strong: var(--colors-blue-300);
  --color-info-icon-default: var(--colors-blue-500);
  --color-info-icon-strong: var(--colors-blue-300);
  --color-info-text-on-default: var(--colors-neutral-0);
  --color-info-text-on-subtle: var(--colors-blue-300);
  --color-info-icon-on-default: var(--colors-neutral-0);
  --color-info-icon-on-subtle: var(--colors-blue-300);
  --color-info-ring-default: var(--colors-blue-500);
  --color-warning-background-subtle: var(--colors-yellow-900);
  --color-warning-background-subtle-hover: var(--colors-yellow-800);
  --color-warning-background-subtle-pressed: var(--colors-yellow-700);
  --color-warning-background-default: var(--colors-yellow-600);
  --color-warning-background-default-hover: var(--colors-yellow-500);
  --color-warning-background-default-pressed: var(--colors-yellow-700);
  --color-warning-background-strong: var(--colors-yellow-500);
  --color-warning-background-strong-hover: var(--colors-yellow-400);
  --color-warning-border-subtle: var(--colors-yellow-800);
  --color-warning-border-default: var(--colors-yellow-600);
  --color-warning-border-strong: var(--colors-yellow-400);
  --color-warning-text-default: var(--colors-yellow-400);
  --color-warning-text-strong: var(--colors-yellow-300);
  --color-warning-icon-default: var(--colors-yellow-500);
  --color-warning-icon-strong: var(--colors-yellow-300);
  --color-warning-text-on-default: var(--colors-neutral-1000);
  --color-warning-text-on-subtle: var(--colors-yellow-300);
  --color-warning-icon-on-default: var(--colors-neutral-1000);
  --color-warning-icon-on-subtle: var(--colors-yellow-300);
  --color-warning-ring-default: var(--colors-yellow-500);
  --color-accent-purple-background-subtle: var(--colors-purple-900);
  --color-accent-purple-background-subtle-hover: var(--colors-purple-800);
  --color-accent-purple-background-subtle-pressed: var(--colors-purple-700);
  --color-accent-purple-background-default: var(--colors-purple-600);
  --color-accent-purple-background-default-hover: var(--colors-purple-500);
  --color-accent-purple-background-default-pressed: var(--colors-purple-700);
  --color-accent-purple-background-strong: var(--colors-purple-500);
  --color-accent-purple-background-strong-hover: var(--colors-purple-400);
  --color-accent-purple-border-subtle: var(--colors-purple-800);
  --color-accent-purple-border-default: var(--colors-purple-600);
  --color-accent-purple-border-strong: var(--colors-purple-400);
  --color-accent-purple-text-default: var(--colors-purple-400);
  --color-accent-purple-text-strong: var(--colors-purple-300);
  --color-accent-purple-icon-default: var(--colors-purple-500);
  --color-accent-purple-icon-strong: var(--colors-purple-300);
  --color-accent-purple-text-on-default: var(--colors-neutral-0);
  --color-accent-purple-text-on-subtle: var(--colors-purple-300);
  --color-accent-purple-icon-on-default: var(--colors-neutral-0);
  --color-accent-purple-icon-on-subtle: var(--colors-purple-300);
  --color-accent-purple-ring-default: var(--colors-purple-500);
  --color-accent-blue-background-subtle: var(--colors-blue-900);
  --color-accent-blue-background-subtle-hover: var(--colors-blue-800);
  --color-accent-blue-background-subtle-pressed: var(--colors-blue-700);
  --color-accent-blue-background-default: var(--colors-blue-600);
  --color-accent-blue-background-default-hover: var(--colors-blue-500);
  --color-accent-blue-background-default-pressed: var(--colors-blue-700);
  --color-accent-blue-background-strong: var(--colors-blue-500);
  --color-accent-blue-background-strong-hover: var(--colors-blue-400);
  --color-accent-blue-border-subtle: var(--colors-blue-800);
  --color-accent-blue-border-default: var(--colors-blue-600);
  --color-accent-blue-border-strong: var(--colors-blue-400);
  --color-accent-blue-text-default: var(--colors-blue-400);
  --color-accent-blue-text-strong: var(--colors-blue-300);
  --color-accent-blue-icon-default: var(--colors-blue-500);
  --color-accent-blue-icon-strong: var(--colors-blue-300);
  --color-accent-blue-text-on-default: var(--colors-neutral-0);
  --color-accent-blue-text-on-subtle: var(--colors-blue-300);
  --color-accent-blue-icon-on-default: var(--colors-neutral-0);
  --color-accent-blue-icon-on-subtle: var(--colors-blue-300);
  --color-accent-blue-ring-default: var(--colors-blue-500);
  --color-text-link: var(--colors-crimson-400);
  --color-text-link-hover: var(--colors-crimson-300);
  --color-text-link-pressed: var(--colors-crimson-500);
  --color-text-link-visited: var(--colors-purple-400);
  --color-ring-default: var(--colors-neutral-0);
  --color-ring-inverse: var(--colors-crimson-500);
  --color-editorial-culture: var(--colors-purple-500);
  --color-editorial-views: var(--colors-blue-500);
  --color-editorial-nightlife: var(--colors-crimson-500);
  --color-editorial-festivals: var(--colors-yellow-500);
  --color-editorial-hiking: var(--colors-green-500);
  --color-editorial-food: var(--colors-red-500);
  --color-editorial-culture-subtle: var(--colors-purple-900);
  --color-editorial-views-subtle: var(--colors-blue-900);
  --color-editorial-nightlife-subtle: var(--colors-crimson-900);
  --color-editorial-festivals-subtle: var(--colors-yellow-900);
  --color-editorial-hiking-subtle: var(--colors-green-900);
  --color-editorial-food-subtle: var(--colors-red-900);
  --spacing-3xs: var(--space-100);
  --spacing-2xs: var(--space-200);
  --spacing-xs: var(--space-300);
  --spacing-sm: var(--space-400);
  --spacing-md: var(--space-500);
  --spacing-lg: var(--space-600);
  --spacing-xl: var(--space-700);
  --spacing-2xl: var(--space-800);
  --spacing-3xl: var(--space-900);
  --spacing-4xl: var(--space-1000);
  --radius-none: var(--radius-scale-0);
  --radius-xs: var(--radius-scale-100);
  --radius-sm: var(--radius-scale-200);
  --radius-md: var(--radius-scale-300);
  --radius-lg: var(--radius-scale-400);
  --radius-xl: var(--radius-scale-500);
  --radius-2xl: var(--radius-scale-600);
  --radius-3xl: var(--radius-scale-700);
  --radius-full: var(--radius-scale-round);
  --text-2xs: var(--font-size-100);
  --text-xs: var(--font-size-200);
  --text-sm: var(--font-size-300);
  --text-md: var(--font-size-400);
  --text-lg: var(--font-size-500);
  --text-xl: var(--font-size-600);
  --text-heading-xs: var(--font-size-700);
  --text-heading-sm: var(--font-size-900);
  --text-heading-md: var(--font-size-1100);
  --text-heading-lg: var(--font-size-1300);
  --text-heading-xl: var(--font-size-1500);
  --text-heading-2xl: var(--font-size-1700);
  --text-heading-hero: var(--font-size-1800);
  --leading-xs: var(--line-height-200);
  --leading-sm: var(--line-height-300);
  --leading-md: var(--line-height-400);
  --leading-lg: var(--line-height-600);
  --leading-xl: var(--line-height-800);
  --leading-2xl: var(--line-height-1000);
  --leading-3xl: var(--line-height-1200);
  --tracking-tight: var(--letter-spacing-300);
  --tracking-normal: var(--letter-spacing-500);
  --tracking-wide: var(--letter-spacing-700);
  --font-heading: var(--family-primary);
  --font-body: var(--family-secondary);
  --color-surface-inverse: var(--colors-neutral-0);
  --color-surface-inverse-hover: var(--colors-neutral-100);
  --color-surface-inverse-pressed: var(--colors-neutral-200);
  --color-surface-inverse-disabled: var(--colors-neutral-300);
  --color-brand-background-default-disabled: var(--colors-neutral-700);
  --color-brand-background-subtle-disabled: var(--colors-neutral-800);
  --color-brand-border-default-disabled: var(--colors-neutral-600);
  --color-brand-text-default-disabled: var(--colors-neutral-500);
  --color-brand-icon-default-disabled: var(--colors-neutral-500);
  --color-brand-text-on-default-disabled: var(--colors-neutral-500);
  --color-brand-icon-on-default-disabled: var(--colors-neutral-500);
  --color-success-background-default-disabled: var(--colors-neutral-700);
  --color-success-background-subtle-disabled: var(--colors-neutral-800);
  --color-success-border-default-disabled: var(--colors-neutral-600);
  --color-success-text-default-disabled: var(--colors-neutral-500);
  --color-success-icon-default-disabled: var(--colors-neutral-500);
  --color-success-text-on-default-disabled: var(--colors-neutral-500);
  --color-success-icon-on-default-disabled: var(--colors-neutral-500);
  --color-error-background-default-disabled: var(--colors-neutral-700);
  --color-error-background-subtle-disabled: var(--colors-neutral-800);
  --color-error-border-default-disabled: var(--colors-neutral-600);
  --color-error-text-default-disabled: var(--colors-neutral-500);
  --color-error-icon-default-disabled: var(--colors-neutral-500);
  --color-error-text-on-default-disabled: var(--colors-neutral-500);
  --color-error-icon-on-default-disabled: var(--colors-neutral-500);
  --color-info-background-default-disabled: var(--colors-neutral-700);
  --color-info-background-subtle-disabled: var(--colors-neutral-800);
  --color-info-border-default-disabled: var(--colors-neutral-600);
  --color-info-text-default-disabled: var(--colors-neutral-500);
  --color-info-icon-default-disabled: var(--colors-neutral-500);
  --color-info-text-on-default-disabled: var(--colors-neutral-500);
  --color-info-icon-on-default-disabled: var(--colors-neutral-500);
  --color-warning-background-default-disabled: var(--colors-neutral-700);
  --color-warning-background-subtle-disabled: var(--colors-neutral-800);
  --color-warning-border-default-disabled: var(--colors-neutral-600);
  --color-warning-text-default-disabled: var(--colors-neutral-500);
  --color-warning-icon-default-disabled: var(--colors-neutral-500);
  --color-warning-text-on-default-disabled: var(--colors-neutral-500);
  --color-warning-icon-on-default-disabled: var(--colors-neutral-500);
  --color-accent-purple-background-default-disabled: var(--colors-neutral-700);
  --color-accent-purple-background-subtle-disabled: var(--colors-neutral-800);
  --color-accent-purple-border-default-disabled: var(--colors-neutral-600);
  --color-accent-purple-text-default-disabled: var(--colors-neutral-500);
  --color-accent-purple-icon-default-disabled: var(--colors-neutral-500);
  --color-accent-purple-text-on-default-disabled: var(--colors-neutral-500);
  --color-accent-purple-icon-on-default-disabled: var(--colors-neutral-500);
  --color-accent-blue-background-default-disabled: var(--colors-neutral-700);
  --color-accent-blue-background-subtle-disabled: var(--colors-neutral-800);
  --color-accent-blue-border-default-disabled: var(--colors-neutral-600);
  --color-accent-blue-text-default-disabled: var(--colors-neutral-500);
  --color-accent-blue-icon-default-disabled: var(--colors-neutral-500);
  --color-accent-blue-text-on-default-disabled: var(--colors-neutral-500);
  --color-accent-blue-icon-on-default-disabled: var(--colors-neutral-500);
  --color-surface-raised-disabled: var(--colors-neutral-800);
  --color-surface-base-disabled: var(--colors-neutral-800);
  --color-border-disabled: var(--colors-neutral-700);
  --color-border-strong-disabled: var(--colors-neutral-600);
  --text-heading-2xs: var(--font-size-600);
  --text-heading-3xs: var(--font-size-500);
  --spacing-gutter: var(--space-1100);
  --radius-4xl: var(--radius-scale-800);
  --radius-5xl: var(--radius-scale-900);
  --radius-6xl: var(--radius-scale-1000);
  --spacing-gutter-mobile: var(--space-500);
}
